.input_container {
  margin: 10px;
}

.input_head {
  display: flex;
  justify-content: space-between;
}

.input_head label {
  color: rgba(128, 128, 128, 0.712);
}

.input_body,
.input_body_invalid {
  background-color: rgba(2, 95, 75, 0.3);
  border: 2px solid rgba(2, 95, 75, 0.3);
  border-radius: 5px;
  transition: 0.1s;
  position: relative;
}

.input_body:hover {
  border: 2px solid rgb(2, 95, 75);
}

.input_body_invalid {
  border: 2px solid red;
}

.input_body input,
.input_body_invalid input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 8px 15px;
  cursor: pointer;
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield; /* Other browsers */
  font-size: 20px;
}

.input_body img,
.input_body_invalid img {
  position: absolute;
  left: 15px;
  top: 8px;
}
